<form name="createForm" ng-submit="addProd(createForm.ident)">
    <input name="ident" type="number" ng-model="id" placeholder="id" pattern="\d+" ng-class="{'warn' : createForm.ident.$touched && createForm.ident.$invalid}">
    <input name="name" type="text" ng-model="name" placeholder="name" maxlength="15" ng-class="{'warn' : createForm.name.$touched && createForm.name.$invalid}">
    <input name="description" type="text" ng-model="description" placeholder="description" minlength="10" ng-class="{'warn' : createForm.description.$touched && createForm.description.$invalid}">
    <input name="price" type="number" ng-model="price" placeholder="price" pattern="\d{2}" ng-class="{'warn' : createForm.price.$touched && createForm.price.$invalid}">
    <button type="submit">Save</button>
</form>
<div ng-if="notification" class="notification">Fill out all fields, please</div>
<a href="#/">Back</a>
<!--(createForm.ident.$valid && createForm.name.$valid && createForm.description.$valid && createForm.price.$valid) &&  !createForm.$empty-->