.warn {
    background: lightpink;
    border: 2px solid darkslateblue;
}
.success {
    background: darkseagreen;
    border: 2px solid palegoldenrod;
}
.notification {
    color: orangered;
}
.text-success {
    color: lightgreen;
}